body{
	margin: 0;
}

header{
	background-color: skyblue;
	text-align: center;
}

/*This is basically saying "The picture in the image should look like this*/
header img{
	margin-top: 30px;
	max-width: 250px;
	border-radius: 30px;
	border: 20px solid #00000061;  /*Weight, Style, then Color*/
}

h1{
	font-family: 'Frijole', cursive;
	font-size: 65px;
	margin-top: 0;
	padding-bottom: 15px;
	color: #95210c;

}

h2{
	font-family: 'Frijole', cursive;
	font-size: 30px;
	margin: 20px auto;

}

main{
	max-width: 800px;
/*margin: Top and Botton, left and right. The "auto" centers text */
	margin: 0 auto;
/*tjos padding makes things scale*/
	padding: 0 30px;
}

body{
	background-color: #8efaff66;
}

main img{
	max-width: 100%;
}

footer{
	background-color: skyblue;
	text-align: center;
	margin: 20px auto;
}

main img{
	margin-top: 20px;
	border-radius: 15px;
}